<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vuestuff</title>

    <link rel="stylesheet" href="index.css">
    <!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        <!-- first example -->
        <!-- {{ message }} -->

        <!-- <span v-bind:title = "message">Hover your mouse over me for a few seconds
                to see my dynamically bound title!</span> -->
        
        <!-- second example for if sttements -->
        <!-- <span v-if="seen">Now you see me</span> -->

        <!-- third example v-for -->

        <!-- <ol>
            <li v-for="todo in todos">
                {{ todo.text}}
            </li>
        </ol> -->

        <p>{{ message }}</p>

        <button v-on:click="reverseMessage">Reverse Message</button>
    </div><br>

    <div id="app-2">
            <span v-bind:title = "message">Hover your mouse over me for a few seconds
                    to see my dynamically bound title!</span>
         
    </div>

    <script src="index.js"></script>
</body>
</html>